/* Style général */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.menu-toggle {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.side-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-menu li {
    padding: 10px;
    text-align: center;
}

.side-menu a {
    text-decoration: none;
    color: white;
    display: block;
}

.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s;
    margin-top: 60px; /* To avoid content overlap with the navbar */
}

.content h1, .content h2 {
    color: #333;
}

/* Responsivité */
@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
    }
}

